:root{
    --blue: #2A6CB5;
    --lightblue: #419aff;
    --red: #C20016;
    --yellow: #FFFF00;
}

@font-face{
	font-family: Bumpo;
	src: url("../fonts/Bumpo.ttf");	
}

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: Bumpo, Helvetica, sans-serif;
    overflow: hidden;
}

img{
    max-width: 100%;
}

section h1{
    font-size: 2em;
}

::-webkit-scrollbar{
    width: 7px;
}
 
::-webkit-scrollbar-thumb{
    background-color: var(--blue);
    border-radius: 30px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-moz-scrollbar{
    width: 7px;
}

::-moz-scrollbar-track{
  background-color: transparent;
}

::-moz-scrollbar-thumb{
  background-color: var(--blue);
  border-radius: 30px;
}

.header{
    color: #FFFF01;
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}