:root{
    --blue: #2A6CB5;
    --lightblue: #419aff;
    --red: #C20016;
    --yellow: #FFFF00;
}
/* Container og Content Style på desktop */
.container{
    width: 100%;
    height: 100vh;
    background: url("/images/Julekalender elementer/bg.jpg");
    background-size: 100%;
    background-position: 0px -45px;
    background-repeat: no-repeat;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.p {
    font-size: 20px;
    line-height: 1,2em;
}

/* Jule kalender */
.calendar{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 7px;
    padding: 24px;
    transform: scale(.75);
}

.door{
    width: 100%;
    height: 104px;
    background: #fff;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
}

.door__face{
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
}

.door__front{
    font-family: Bumpo, Helvetica, sans-serif;
    color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 55px;
}

.door__front, .door__back{
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    position: absolute;
}
.door__back{
    background: var(--lightblue);
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-img{
    max-width: 100%;
    width: 60%;
}

/* Header */
.header{
    position: fixed;
    top: 0;
    padding: 15px;
    z-index: 200;
}

.logo{
    width: 27%;
}

.logo_container{
    position: relative;
    z-index: 200;
}

/* Navigation */
.navigation{
    position: absolute;
    left: -300px;
    top: 0;
    transition: all .5s ease-in-out;
    box-shadow: 0 0 3px rgba(0,0,0,.14), 0 1px 3px rgba(0,0,0,.28);
    background: var(--yellow);
    height: 100vh;
}

.navigation__mascot{
    width: 40px;
    height: 200px;
    background: var(--blue);
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.navigation__mascot h3{
    transform: rotate(90deg);
}

.navigation__content p{
    color: rgb(102, 102, 102);
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0px;
}

.navigation__content{
    width: 300px;
    height: calc(100vh - 90px);
    position: relative;
    top: 0;
    color: var(--blue);
    overflow: scroll;
    padding: 40px;
    margin-top: 90px;
    padding-bottom: 140px;
    text-align: center;
}

.br_mand{
    margin: 0px 0px 30px;
}

.bow{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background: var(--blue);
}
/* Indhold */
.txt{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.headline{
    font-size: 3em;
    font-family: Bumpo, Helvetica, sans-serif;
    margin-bottom: 0;
}

/* Santa */
.santa{
    position: absolute;
    width: 17%;
    left: 44%;
    top: 30%;
    transform: translate(-40%);
}

/* CTA Button */
.cta{
    background: var(--blue);
    width: auto;
    text-decoration: none;
    color: #fff;
    font-family: Bumpo, Helvetica, sans-serif;
    padding: 15px 30px;
    border-radius: 50px;
    display: inline-block;
}

/* Footer */
.footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.copy{
    color: var(--red);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.byline{
    color: var(--red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.byline span{
    float: left;
    position: relative;
    left: -60px;
    top: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.trinity_logo{
    width: 20%;
}

/* Overlay */
.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.61);
    z-index: 200;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.overlay__inner{
    width: 1019px;
    height: 521px;
    background: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.close{
    display: block;
    float: right;
    background: var(--blue);
    color: #fff;
    padding: 10px;
    text-decoration: none;
    width: auto;
}